body {
    background-color: #57C5B6;
    font-family: Ubuntu;
}
hr {
    border-color: #1A5F7A;
    border-style: dotted none none;
    border-width: 5px;
    width: 5%;
    /* height: 0px; */
    /* background-color: white; */
}
h1,h3 {
    color: #002B5B;
}
a{
    text-decoration: none;
}
.edu{
    line-height: 2;
}
.exp{
    line-height: 2;
}